<%# por enquanto quero que aparecça somente o nome e o endereço %>
<%# aqui eu sei o que é flat, porque quando esse arquivo for renderizado %>
<%# eu passo o que é flat no meu flats controller dentro de locals %>
<h2><%= flat.name %></h2>
<p><%= flat.address %></p>